/Grid.pyc
/GameOfLife/env/.ptvs/AnalysisLog.txt
/__pycache__/Grid.cpython-36.pyc
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/GameOfLife.iml
/.idea/codeStyles/codeStyleConfig.xml